<!--button type="button" class="btn btn-primary" routerLink ="/books">Books</button>
<br/><br/>

<form [formGroup]="form">
  <div class="form-group">
    <label for="exampleInputEmail1">nom</label>
    <input type="text" class="form-control" formControlName="name" name="name" placeholder="Your name">

  </div>
  <button type="button" class="btn btn-primary" (click)="changerUsername()">Submit</button>
</form>

<p>Username : {{ (user$ | async)!.user.username }}</p>
<p>isAdmin : {{ (user$ | async)!.user.isAdmin }}</p>

<ng-container *ngIf="(error$ | async)">
  <div class="alert alert-danger" role="alert">
    {{ error$ | async }}
  </div>
  </ng-container>

<ng-container *ngIf="(isloaded$ | async)===false">
  <p>Merci de patienter</p>

</ng-container>

<ng-container *ngIf="(isloaded$ | async)===true && (users$ | async)?.length">
<div class="container mt-3">           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Is Admin</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of (users$ | async)">
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.isAdmin }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
</ng-container>


<button type="button" class="btn btn-primary" (click)="loadUsers()">Load User</button-->

<router-outlet></router-outlet>