
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Publisher</th>
        <th scope="col">Author</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let book of (books$ | async)">
            <tr>
                <th scope="row">{{ book?.id }}</th>
                <td>{{ book?.name }}</td>
                <td>{{ book?.publisher }}</td>
                <td>{{ book?.author }}</td>
                <td><button type="button" class="btn btn-success" (click)="editBook(book)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteBook(book.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
        </ng-container>
    </tbody>
  </table>
