
<div class="container" style="width: 500px; margin:50px auto">
    <!-- Content here -->
 <form [formGroup]="booksForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
    </div>
    <div class="form-group" style="margin-top:15px;">
        <label for="exampleInputEmail1">Publisher</label>
        <input type="text" class="form-control" id="publisher" placeholder="Enter publisher" formControlName="publisher">
      </div>
    <div class="form-group" style="margin-top:15px;margin-bottom:20px">
        <label for="exampleInputEmail1">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Enter author" formControlName="author">
      </div>
     
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
