<form class="form-inline" style="width: 300px;" [formGroup]="booksForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only">Nom</label>
      <input type="text" class="form-control" name="search" id="search" formControlName="search">
    </div>
    <button class="btn btn-primary mb-2" type="submit">Rechercher</button>
  </form>
